Package: com.aokhtenberg.muneedit
Name: Mune (AOkhtenberg Edit)
Version: 1.0
Architecture: iphoneos-arm
Description: Simple Lockscreen Widget
Depiction: https://aokhtenberg.github.io/repo/depictions/?p=com.aokhtenberg.muneedit
Maintainer: AOkhtenberg <aokhtenberg@gmail.com> 
Author: AOkhtenberg
Section: Widgets
