Architecture: iphoneos-arm
Author: AOkhtenberg
Depiction: https://aokhtneberg.github.com/repo/depictions/?p=com.aokhtenberg.muneedit
Description: Simple Lockscreen Widget
Maintainer: AOkhtenberg <aokhtenberg@gmail.com> 
Name: Mune (AOkhtenberg Edit) - LS Widget
Package: com.aokhtenberg.muneedit
Section: Widgets
Version: 1.0
